body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    padding: 0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}
hr {
    border: 1px solid #1045c1;
}
.main {
    background-color: #fff;
    padding: 20px 20px 5px 20px; /* top right bottom left */
}
.services {
    background-color: #fff;
    padding: 5px 20px 5px 20px; 
}
.sub-service {
    border: 1px solid #807f7e65;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    border-radius: 5px;
}
.contact {
    background-color: #fff;
    padding: 5px 20px 5px 20px;
}
.contact p {
    border: 1px solid #807f7e65;
    margin-left: 0px 0px 10px 0px;
    padding: 20px;
    border-radius: 5px;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
