body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.container {
    padding: 20px;
    text-align: center;
    /* Background Color */
    background-color: #333;

    /* Background Image */
    background-image: url('../backgrounds-practice/images/bg-image.jpg');

    /* Background Repeat */
    background-repeat: repeat-y;

    /* Background Position */
    background-position: center;

    /* Background Size */
    background-size: cover;

    /* Background Attachment */
    background-attachment: fixed;

    /* Background Origin */
    background-origin: padding-box;

    /* Background Clip */
    background-clip: content-box;

    padding: 20px;
    text-align: center;
    color: #fff;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    padding: 10px;
    text-indent: 80px;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.gradient-box-right,
.gradient-box-left,
.gradient-box-radial,
.gradient-box-conic {
    padding: 20px;
    text-align: center;
    color: #fff;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.gradient-box-right::before,
.gradient-box-left::before,
.gradient-box-radial::before,
.gradient-box-conic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.gradient-box-right::before {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.gradient-box-left::before {
    background: linear-gradient(to left, #ff7e5f, #feb47b);
}

.gradient-box-radial::before {
    background: radial-gradient(circle, #3523be, #45666f);
}

.gradient-box-conic::before {
    background: conic-gradient(from 45deg, #6a2344, #b0a83b, #1e8339);
}

.gradient-box-right:hover::before,
.gradient-box-left:hover::before,
.gradient-box-radial:hover::before,
.gradient-box-conic:hover::before {
    opacity: 1;
}